# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Testing
coverage/
*.test.js.snap

# Environment variables
.env
.env.local

# IDE settings
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Other system files
.DS_Store
Thumbs.db
